table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .field-width{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }