<div>
    <div class="centerit">
    <form id="RegisterForm"  [formGroup]="registerForm" autocomplete="off">
    
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" formControlName="username" placeholder="Enter Username" name="username" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" formControlName="password" placeholder="Enter Password" name="password" required>
       
            <button [disabled]="!registerForm.valid" (click)=register() type="button" form="logInForm">Register now</button>
    </div>
  </form>
  </div>
</div>


